- name: "codestral"
  enabled: False
  command: "/usr/local/bin/llama-server"
  cuda_visible_devices: "0,1"
  options:
  - --host 0.0.0.0
  - -ngl 100
  - -m /models/Codestral-22B-v0.1-Q8_0.gguf
  - --port 8081
  - -fa
  - -sm row
  - -mg 0
  - --no-mmap
  - --log-format json
